body {
    font-family: Arial, sans-serif;
    background-color: #e9f7ef;
    display: flex;
    flex-direction: column; /* Permet d'empiler les éléments verticalement */
    align-items: center;
    height: 100vh;
    margin: 0;
}

.care{
    color: black;
}

.connect{
    color: #155724;
}

.careconnect {
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 4em;
    margin-top: 10px; 
    margin-bottom: 0px;
}

.signup-container {
    background-color: #d4edda;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
}

h2 {
    color: #155724; 
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    color: #155724;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c3e6cb; 
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #155724;
    outline: none;
}

button {
    background-color: #28a745; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #218838; 
}

p {
    margin-top: 15px;
    color: #155724;
}

a {
    color: #155724;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .careconnect {
        font-size: 1.5em; 
    }

    .signup-container {
        max-width: 90%; 
        padding: 15px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .careconnect {
        font-size: 1.8em;
    }

    .signup-container {
        max-width: 70%;
    }
}

@media (min-width: 1025px) {
    .careconnect {
        font-size: 2.5em; 
    }

    .signup-container {
        max-width: 400px; 
    }
}
