/* Général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 30px; /* Adjusts the size of the logo */
    height: auto;
}

.brand-name1 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #0e100f;
}

.brand-name2 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #025540;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links a.active {
    text-decoration: underline; /* Highlights the active link */
    font-weight: bold;
    color: #004d40;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.navbar-links a:hover {
    color: #004d40;
}
  
  /* Barre de recherche */
  .search-container {
    position: absolute;
    top: 25px; /* Ajuste la distance sous le texte "Recherche" */
    left: 50%;
    margin-top: 50px;
    margin-left: 450px;
    transform: translateX(-50%);
    width: 300px;
    background-color: purple;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 30px;
    display: none; /* Masque la barre par défaut */
    z-index: 1000;
    border-radius: 20px 20px;
  }
  
  
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-btn {
    background-color: #004d40;
    border: none;
    color: white;
    margin-left: 20px;
    padding: 10px 10px;
    width: 50px;
    cursor: pointer;
    border-radius: 10px 10px;
    font-size: 14px;
  }
  
  .search-btn:hover {
    background-color: #004d40;
  }
  